{% extends 'lfs/base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block title %}Change Password{% endblock %}
{% block body_block %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="page-heading">Change Password</h2>
				<hr>
				{% if message %}
					<div class="alert alert-danger">
						{{message}}
					</div>
				{% endif %}
				<form id="password_form" method="post" action="{% url 'change_password' %}" enctype="multipart/form-data">
					{% csrf_token %}
					{{ password_form|bootstrap }}
					<button type="submit" name="submit" class="btn btn-prim">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit
					</button><!-- ./btn -->
				</form><!-- ./module_form -->
			</div><!--./col-md-12-->
		</div> <!--/.row-->
	</div> <!--/.container-->
{% endblock %}